@model WebCore.AdminUI.Models.VcModels.GenericButtonVcModel

<button type="button" class="@Model.ButtonClass" onclick="window.location.href = '@Model.Url'">
    <i class="@($"{(!String.IsNullOrWhiteSpace(Model.ButtonText) ? "btn-icon-prepend" : String.Empty)}")" data-feather="@Model.IconClass"></i>
    @Model.ButtonText
</button>