@model WebCore.AdminUI.Models.VcModels.GenericButtonVcModel

@if (Model.PerformDelete)
{
    <button type="button" class="@Model.ButtonClass" data-itemId="@Model.ItemId" data-toggle="modal" data-target="#exampleModal">
        <i class="@($"{(!String.IsNullOrWhiteSpace(Model.ButtonText) ? "btn-icon-prepend" : String.Empty)}")" data-feather="@Model.IconClass"></i>
        @Model.ButtonText
    </button>
}
else
{
    <button type="button" class="@Model.ButtonClass" data-itemId="@Model.ItemId">
        <i class="@($"{(!String.IsNullOrWhiteSpace(Model.ButtonText) ? "btn-icon-prepend" : String.Empty)}")" data-feather="@Model.IconClass"></i>
        @Model.ButtonText
    </button>
}